<hr>
      
<footer class="site-footer container">
  <data class="u-url" href="{{ "/" }}"></data>
  <div class="text-center">
    {{ site.title | escape }} 
    &copy; {{ 'now' | date: "%Y" }}<br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
    <a href="{{ site.page_repo_url }}" target="_blank">
      <img src="/assets/github.png" alt="Github" style="height: 16px">
    </a>
  </div>
</footer>
