@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html, body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif }
body { height: 100vh; background: linear-gradient(#333, #666) }
article { max-width: 850px; margin: 0 auto; padding: 1rem; color: #fff }
footer { text-align: center; color: #ccc }
.wrap { background: linear-gradient(#333, #666) }

.hero { min-height: 100%; background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(bg.png) no-repeat center; background-size: cover; display: flex; align-items: center; justify-content: space-between; flex-direction: column; text-align: center; color: #eee }
.content { max-width: 1140px; margin: 0 auto; padding: 1rem; color: #fff }
.down { margin-bottom: 1rem }
.right { text-align: right }

h1.h404 { margin: 30px 0; font-size: 4em; line-height: 1; letter-spacing: -1px }

/* Navbar */
nav { background: rgba(0, 0, 0, 0.4) }
nav ul { margin: 0; padding: 0; text-align: center; }
nav ul li { list-style: none; display: inline; text-align: center; }
nav ul li a { display: inline-block; padding: 5px 10px; text-decoration: none; color: #FFF }
nav ul li a:visited { color: #FFF }
nav ul li a:hover { text-decoration: underline; background-color: rgba(0, 0, 0, 0.6) }
nav ul li:first-child a { font-weight: bold }

/* Botón *meow* */
a.btn { font-size: 14px; color: #222; text-decoration: none; background-color: #ddd; padding: 5px 7px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, .2) }
a.btn:visited { color: #222 }
a.btn:hover { background-color: #bbb; border: 1px solid #aaa; }